.BannerBottom{
  width: 100%;
  border-bottom:2px solid #779611;
  &_wrapper{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    &_firstContent{
      width: 560px;
      height: 373px;
      &_about{
        font-family: "Exo 2", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color:#779611;
      }
      &_title{
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        font-size: 48px;
        color: #779611;
      }
      &_text{
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 20px;    
      }
    }
    &_secondContent{
      &_photo{
        margin-top: 114px;
        margin-bottom: 114px;
      }
    }
  }
}