.wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}
.section{
  border-bottom:2px solid #779611;
  &_name{
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #779611;
  }
  &_text{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 612px;
  }
}
.list{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  &_item{
    list-style: none;
    width: 560px;
    &_img{
      width: 100%;
    }
    &_name{
      margin-left: 60px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 24px;
      color:#779611; 
    }
    &_price{
      margin-left: 60px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 20px;
    }
  }
}